{
   "auth_mongo":{
      "host":"localhost",
      "port":27017,
      "database":"micro-auth"
   },
   "http":{
      "port":8080,
      "keyStore":{
         "path":"keystore.jks",
         "type":"jks",
         "password":""
      }
   }
}