{
   "auth_mongo":{
      "host":"localhost",
      "port":27017,
      "database":"micro-auth"
   },
   "http":{
      "port":8080,
      "keyStore":{
         "path":"keystore.jks",
         "type":"jks",
         "password":""
      }
   },
  "application": {
    "base_url": "http://application.pt",
    "activation_callback": "http://application.pt/activation_callback",
    "recover_callback": "http://application.pt/activation_callback"
  }
}